:root {

    /* COLORES */
    --color-main: #3498db;
    --color-secundary: white;
    
    
    /* MEDIDAS PERSONALIZADAS */
    --background-radius: 10px;

    /* MEDIDAS FUENTE */
    --font-size-base: 18px;

}

div {
    border: 1px solid black;
}

p {
    /*
    - Un color de fondo que usa la variable personalizada para el color principal.
    - Dicho coloreado de fondo tendrá los bordes redondeados con un radio que use la variable personalizada anteriormente mencionada.
    - El texto se ubicará con un espacio en la superficie coloreada de relleno de 20px.
    - El color del texto usa la variable personalizada para el color secundario.
    - El tamaño de fuente es de 18px.
    */

    background-color: var(--color-main);
    border-radius: var(--background-radius);
    padding: 20px;
    color: var(--color-secundary);
    font-size: var(--font-size-base);
}