$white: #fff;
$black: #0c0c0c;
$green-strong: #153131;
$sage: #BBC7A4;
$ivory: #F2F5EA;
$marroncito: #D0B8AC;

$font-base: 'Poppins';
$font-title: 'Economica';

@mixin centrado-horizontal() {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin centrado-vertical() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
