// Botón con color primario, #3498db.
// Botón para aceptar, #27ae60.
// Botón para cancelar, #e74c3c.
// Implementar esto en variables

$botones-colors: (
    first: #3498db,
    second: #27ae60,
    third: #e74c3c
);

$font-base: 'Poppins', sans-serif;
$font-title: 'Montserrat', 'Arial';

$fblack1: #202124;
$fgrey: #5f6368;
$bg-blanco-base: #ffffff;
$bg-blanco-3: #f1f3f4;
$fblue: #1967d2;