@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

    --main-color: #050C2B;
    --dark-main: #232F64;
    --light-main: #586395;
    --lighter-main: #A1ABD8;

    --bg-white: #f1f1f1;

    --dark1: #111116;
    --dark2: #393949;
    --dark3: #6D6D8D;
    --dark4: #A1ABD8;

    --light1: #A1ABD8;
    --light2: #C1C7E1;
    --light3: #E2E3E7;
    --light4: #F2F2F2;

    --error-1: #FF1B1C;
    --error-2: #FF1B1C;
    --error-3: #FF8687;
    --error-4: #FFC2C2;

    --warning-1: #CCA43B;
    --warning-2: #E7C875;
    --warning-3: #EBDAAE;
    --warning-4: #FFF6DF;

    --info-1: #050C2B;
    --info-2: #232F64;
    --info-3: #586395;
    --info-4: #A1ABD8;

    --exito-1: #285943;
    --exito-2: #47906F;
    --exito-3: #67CC9E;
    --exito-4: #93FFCE;

}

body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: var(--bg-white);
    font-family: 'Montserrat', sans-serif;
}

/* ESTILOS PARA LOS Hs */
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 48px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 40px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 32px;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

/* ESTILOS PARA EL header */
/* Para dispositivos de escritorio, la aplicación web tendrá un encabezado que tenga un elemento a la izquierda (logo corporativo) y otro a la derecha (menú de navegación). */

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.upper {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 20;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: transparent;
    transition: 0.3s;

}


.upper-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.url {
    border-bottom: 1px solid transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
    color: var(--dark1);
    letter-spacing: 1px;
    transition: 300ms;

}

.url:hover {
    border-bottom: 1px solid var(--dark1);
}

#logo {
    width: 225px;
}

.upper-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    gap: 20px;
}

nav {
    display: flex;
    gap: 5px;
}

nav a {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 20px;
    color: var(--dark1);
    border-radius: 8px;
    transition: 400ms;
    letter-spacing: 1px;
}

nav a:hover {
    background-color: rgba(161, 171, 216, 0.1);

}

.activo {
    font-weight: 700;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.search-icon {
    cursor: pointer;
}

.search-icon:active {
    transform: translateY(4px);

}

.search-input {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid var(--dark3);
    border-radius: 6px;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.lower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-dark {
    background-color: var(--dark-main);
    color: white;
}

/* ESTILOS PARA EL CALL TO ACTION */
.cta-wrapper {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.gif-box {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.gif {
    display: flex;
    flex: auto;
    background-image: url("./assets/nuestras-recetas-salgado.gif");
    background-size: cover;
    background-position: center;
}

.cta {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.);
    background: rgba(0, 0, 0, 0.7);
    padding: 4rem;
    border-radius: 5px;
    /* width: 100%;
    height: 100%; */
    justify-content: center;
    align-items: center;
}

.btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.btns button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 24px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 500;
    color: var(--light4);
    background-color: var(--main-color);
    text-align: center;
    border: 1px solid var(--main-color);
    border-radius: 8px;
    cursor: pointer;
    transition: 350ms;
}

.btns button:hover {
    background-color: var(--light4);
    color: var(--main-color);
}

.btns button:active {
    transform: translateY(4px);
}

.btns button img {
    width: 25px;
}


/* ESTILOS PARA EL MAIN DE IDIOMA.HTML */
main {
    margin: 3rem 0;
}

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.bloque {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.bloque a img {
    height: 200px;
    width: 150px;
}



/* el svg tendra hover y puntero personalizado */



/* ESTILOS PARA EL FOOTER */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;
    background-color: var(--dark-main);

}

.foo_title a {
    display: block;
    padding: 0.7rem 1.2rem;
    color: var(--light4);
    /* Fuentes */
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: none;
    border-bottom: 2px solid var(--light4);
    transition: 350ms;
}

.foo_title a:hover {
    transform: scaleX(1.2);
}

.copyright span {
    font-size: 16px;
    color: var(--light4);
}

.copyright span a {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
    color: var(--light3);
    text-decoration: none;
    transition: 350ms;
    padding: 0 5px;
    border-bottom: 1px solid transparent;
}

.copyright span a:hover {
    color: var(--warning-1);
    text-shadow: 0 0 2px var(--light4);
    border-color: var(--warning-1);

}

.rrss ul li {
    list-style: none;

}

.rrss ul li a {
    display: block;
    color: var(--light4);
    text-decoration: none;
    padding: 10px;
    transition: 400ms;
}

.rrss ul li a:hover {
    text-shadow: 0 0 2px var(--light4);
    color: var(--warning-2);
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {

    /* Para dispositivos móviles, la aplicación web tendrá un encabezado que tenga un elemento arriba (logo corporativo) y otro abajo (menú de navegación). Ambos elementos deben encontrarse centrados. */

    .header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .upper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        justify-content: space-between;
        position: initial;
        background-color: transparent;

    }

    .upper-left {
        gap: 0;
    }

    .upper-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }

    nav {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    nav a {
        width: 100%;
        padding: 15px 0;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: var(--dark-main);
        color: white;
    }


    footer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }


}




/*
* Author: @Dreddsoft
* Exercise: AE2.20 - Web Kiosco Fernando FLEXBOX
* Date: 11/12/2024
* Version: 1.0
*/