:root {
    /* COLORES */
    --color-bg-main: #694873;
    --color-bg-hover: #16302B;

    /* PROPIEDADES DE FUENTES */
    --font-color-main: #f2f2f2;
    --font-color-hover: red;
    --font-size-base: 16px;
    --font-size-hover: 22px;



    /* OTRAS PROPIEDADES */
    --border-radius-hover: 100px;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, sans;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sombra {
    border: 1px solid gray;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.gradiente {
    border: 1px solid gray;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    color: #fff;
    background-image: linear-gradient(180deg, #3498db 0%, #1f587d 100%);
}

.filtro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.imagenes {
    display: flex;
    flex-grow: 1;
}

.imagenes img {
    width: 250px;
}

.imagenes img:nth-child(2) {
    filter: brightness(0.8) contrast(120%);
}

.imagenes img:nth-child(3) {
    filter: invert(100%) blur(1px);
}

.tooltip {
    position: relative;
    display: inline-block;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.tooltip i {
    display: inline-block;
    cursor: help;
}

/* 
 Debe estar centrado horizontalmente con respecto al padre
  debe mostrarse en el hover
 cursor cambia apariencia
 debe mostar imagen relacionada
 fondo marron, txto blanco y altura de 50px
 permitir desplazamiento vertical
 border-radius 6px 
 padding 5px
 justo a la derecha */


.tooltip-text {
    /* visibility: hidden; */
    position: absolute;
    top: 0;
    right: 0;
    background-color: #BBB09B;
    color: #fff;
    min-width: 200px;
    height: 50px;
    border-radius: 6px;
    padding: 5px;
    overflow-y: auto;
    cursor: help;
    transform: translate(100%, 0);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0;
    transition: opacity 300ms;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    cursor: help;
    opacity: 1;
    transition: 3s;

}





