body {
    box-sizing: border-box;
    min-height: 100vdh;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: black;
}

nav a {
    text-decoration: none;
    padding: 25px;
    color: white;
    
}

footer a {
    text-decoration: none;
    color: #694873;
}

.link {
    display: block;
    position: relative;
    overflow: hidden;
}

.link:hover > span {
    height: 100%;
}

.fondo {
    display: block;
    width: 100%;
    height: 100%;
}

/* SERVICIOS */
.servicios {
    border-top: 0.5em solid yellow;

}

.servicios > span {
    background: yellow;
}

/* PROYECTOS */
.proyectos {
    border-top: 0.5em solid green;
}

.proyectos > span {
    background: green;
}

/* RECURSOS */
.recursos {
    border-top: 0.5em solid red;
}

.recursos > span {
    background: red;
}


/* CONTACTO */
.contacto {
    border-top: 0.5em solid violet;
}

.contacto > span {
    background: violet;
}
