body {
    box-sizing: border-box;
    min-height: 100vdh;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
}

footer a {
    text-decoration: none;
    color: #694873;
}

.link {
    display: block;
    position: relative;
    overflow: hidden;
}

.link:hover > span {
    height: 100%;
}

nav a {
    position: relative;
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 25px;
    overflow: hidden;
    z-index: 0;
}

.fondo {
    position: absolute;
    width: 100%;
    height: 15%;
    top: 0;
    left: 50%;
    text-align: center;
    vertical-align: center;
    transform: translate(-50%, -50%);
    transition: height 1s ease;
    transform-origin: top;
    z-index: 5;
}

nav a:hover > .fondo {
    height: 210%;
    
}

nav a:hover > .title {
    color: black;
}

.title {
   position: relative;
   z-index: 100; 
   transition: 1s ease;
}


/* COLORES */
.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.violet {
    background-color: violet;
}

